$max_table_width: 1092px;
$min_table_width: 819px;

$table_font_size: 10pt;	

$advertising_small_text_size: 6pt;
$advertising_main_text_size:  24pt;

$logo_font_text_size: 8pt;
$logo_font_width:	  800;
$logo_height:         3vh;

$base_form_width: 	          		 	20em;
$base_form_input_text_size:   	     	12pt;
$base_form_submit_font_size:  		 	10pt; 
$base_form_submit_font_width: 		 	auto;
$base_form_submit_font_height:          8vh;
$base_form_domain_statust_font_size:	10pt;
$base_form_domain_statust_text_indient: 5px;

$attention_font_weight: 600;
$attention_font_size:   12pt;

$onbody_head_text:	16pt;

$sentence_font_size: 12pt;

$accountCreateButton_font_size: 10pt;

$foot_font_size: 2vh;
$foot_span_font_size: 3.5vh;

@import 'bin/.MainTable';
@import 'bin/.MainDiv';
@import 'bin/.logo';
@import 'bin/.domain_base_form';
@import 'bin/.Attention';
@import 'bin/.Sentence';
@import 'bin/.AccountCreateButton';
@import 'bin/.Sentence_icons';